.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #282c34;
  color: white;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.site-name {
  font-size: 24px;
}

.nav-section {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
}

.App-main {
  background-color: rgb(13, 8, 1);
  padding: 20px;
}
